[submodule "libosmium"]
	path = libosmium
	url = https://github.com/osmcode/libosmium.git
[submodule "libcpr"]
	path = src/libcpr
	url = https://github.com/libcpr/cpr
[submodule "world/libprotozero"]
	path = src/libprotozero
	url = https://github.com/mapbox/protozero
